.App-header {
  background-color: #DCDCDC	;
  min-height: 100%;
  min-width: 360px;
  max-width: 720px;
  width:100%;
  display: flex;
  font-size: calc(12px);
  color: white;
  font-family: Microsoft JhengHei;
  margin: 0 auto;
  border: 2px solid #4a81f3;
  box-sizing: border-box;
}
.App {
  min-width: 360px;
}


